body
{
	font-family: Ubuntu, Serif;
	text-align: center;
	background-color : silver;
	display: flex;
	flex-direction: row;
	justify-content : center;
	
}

header, footer
{
	border: 3px gray solid;
	background-color : gray;
	color : white;
	border-radius: 5px;
	width : 75%
}

nav
{
	border: 3px gray solid;
	background-color : gray;
	color : white;
	border-radius: 5px;
	width:10%;
	height:10%;
	text-align: center;
	align-items : center;
	justify-content : center;
	margin-top : 30%;
}

canvas
{
	border: 5px blue outset;
	box-shadow: 6px 6px 3px black;
}

canvas:hover /* Apparence au survol des liens */
{
   border: 5px navy outset;
   box-shadow: 6px 6px 3px black;
}

